*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding: 0;

}
.card-header{
    background-color: rgba(173, 216, 230, 0.329);
    
}
.card-header span{
    font-weight: 700;
    color: darkblue;
  
       
}

.table th{
    font-weight: 500;
}

.admin{
    background-color:rgba(30, 30, 136, 0.74);
    width: 13%;
    position: fixed;
    height: 100vh;
    
}
.admin a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    border: none;
    background-color: none;
}
 .admin h5{
    color: white;
    font-weight: 700;
 }
 form{
    margin-left: 300px;
 }

 
 
